<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Homepage</title>
  </head>
  <body>
    <h1>The Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia
      cum praesentium dicta nobis reprehenderit quam placeat debitis illo
      ratione repellat, sequi facere voluptas magnam consequatur sint similique
      laboriosam fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia
      cum praesentium dicta nobis reprehenderit quam placeat debitis illo
      ratione repellat, sequi facere voluptas magnam consequatur sint similique
      laboriosam fugiat.
    </p>
  </body>
</html>
